/wp-includes/
/wp-admin/
/wp-content/ai1wm-backups/
/wp-content/fonts/
/wp-content/languages/
/wp-content/litespeed/
/wp-content/mu-plugins/
/wp-content/upgrade/
/wp-content/upgrade-temp-backup/
/wp-content/uploads/
/wp-content/wphb-cache/
/wp-content/wphb-logs/
/wp-content/yaymail-logs/
/xmlrpc.php
/wp-trackback.php
/wp-signup.php
/wp-settings.php
/wp-mail.php
/wp-login.php
/wp-load.php
/wp-links-opml.php
/wp-cron.php
/wp-config.php
/wp-config-sample.php
/wp-comments-post.php
/wp-blog-header.php
/wp-activate.php
/readme.html
/license.txt
/index.php
/.htaccess
/wp-content/themes/shoptimizer/
/wp-content/themes/twentytwentyfour/
/wp-content/themes/index.php
/wp-content/plugins/
/wp-content/debug.log
/wp-content/index.php
.idea