/**
 * Theme Name:     Shoptimizer Child
 * Author:         CommerceGurus
 * Template:       shoptimizer
 * Text Domain:	   shoptimizer-child
 * Description:    Shoptimizer is the perfect theme for your next WooCommerce project designed around speed and conversions.
 */
